<center>
    <h1>Help Information<h1>
    <hr>
    <h3><u>Data to enter</u></h3>
</center>
<h4>Name:</h4>
<p>The name of whatever error you are entering.</p>
<h4>Priority:</h4>
<p>How important the error is. We recommend using something like (Critical, High, Medium, Low).</p>
<h4>Description:</h4>
<p>A description of the error that should include any important information.</p>
<h4>Error Handler:</h4>
<p>The person assigned to handle the error.</p>
<h4>Date Found:</h4>
<p>This should be that date the error was initially found.</p>
<h4>Error Progress:</h4>
<p>The current state the error is in, such as (solved, in progress, not in progress).</p>
