<center>
    <h1>Help Information<h1>
    <hr>
    <h2><u>How to Use this tinytool!</u></h2>
    <p>Press the "New error" button to start creating an error to record.
      Type into the text fields and select from the dropdown menus in order to fill out the information 
        for the error you are logging. Once all fields are filled press the "Create Error" button to add the error to the table.
          Click the column name to sort by that column. Click the name of the error to show details. You can edit or delete the chosen error.
    </p>
    <h3><u>Data to enter</u></h3>
    <h4>Name:</h4>
    <p>The name of whatever error you are entering.</p>
    <h4>Priority:</h4>
    <p>How important the error is. Currently stored as numbers .</p>
    <h4>Description:</h4>
    <p>A description of the error that should include any important information.</p>
    <h4>Error Handler:</h4>
    <p>The person assigned to handle the error.</p>
    <h4>Date Found:</h4>
    <p>This should be that date the error was initially found.</p>
    <h4>Error Progress:</h4>
    <p>The current state the error is in.</p>
</center>
