<center>
  <header>
    <h1>Error Tracker</h1>
    <h2>Made by: Andre Buclay, Jack Clarke, Christian Gauthier, and Jay Gott</h2>
    <hr>
  </header>
<br>
<h3>A Simple Error Tracking Solution In Your Browser</h3>
<p>Error Tracker is a tiny tool that allows users to create their own error tracking database.
     Add, edit, and delete your errors all in browser. Users define their own errors,
      so Error Tracker is an effective tool for anyone, no matter what kind of errors they’re tracking.
</p>
  <body>   
    <p> You must have an account to use this tinytool. You can sign up using the nav bar above.
        If you don't know what to do, click "Help" up above. If you are already signed in, go to the error list.
    </p>
    <%= button_to "Sign In", new_user_session_path, class:"nav-link" %>
    <%= link_to "Error List", errors_path, class:"nav-link" %>
  </body>
</center>
