<center>
  <header>
    <h1>Error Tracker</h1>
    <h2>Made by: Andre Buclay, Jack Clarke, Christian Gauthier, and Jay Gott</h2>
    <hr>
  </header>
<br>
<h3>A Simple Error Tracking Solution In Your Browser</h3>
<p>Error Tracker is a tiny tool that allows users to create their own error tracking database.
     Add, edit, and delete your errors all in browser. Users define their own errors,
      so Error Tracker is an effective tool for anyone, no matter what kind of errors they’re tracking.
</p>
</center>