
<%= render @error %>

<div>
  <%= link_to "Edit", edit_error_path(@error), class:"btn btn-primary" %>
  <%= link_to "Back", errors_path, class:"btn btn-primary" %>
  <br><br>
  <%= button_to "Delete", @error, method: :delete, class:"btn btn-danger" %>
</div>
